// assets/css/main.scss

// customize some Bootstrap variables
$brand-primary: darken(#000, 20%);
$yellow: lighten(#ffbc00, 10%);

// the ~ allows you to reference things in node_modules


.container{
  color: $brand-primary;
  font-size:15px;
}

li{
  list-style:none;
}

nav{
  background-color: $brand-primary;
  border-radius: 0;
  ul{
    list-style: none;
  }
  li{
    padding: 20px;
  }
  a{
    color: white;
    font-size: 15px;
    transition: 2s;
    &:hover{
      color: $yellow;
      transition: 2s;
      text-decoration: none;
    }
  }
}
form {
  input {
    width: 100%;
    border: 1px solid #EEEEEE;
  }
  input[type="radio"], input[type="checkbox"] {
    width: 3%;
  }

  textarea {
    width: 100%;
    border: 1px solid #EEEEEE;

  }

}
.btn{
  width: 150px;
  height: 30px;
  line-height: 30px;
}

th{
  padding: 30px;
  padding-bottom: 0;
  text-align: center;
}

li{
  margin-left: -20px;
}

td{
  border: 1px solid #eee;
  text-align: center;
}


@import '~bootstrap/scss/bootstrap';